<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Simple HTML Page</title>
</head>
<body>
    <<div class="container">
    <div class="mb-3">
      <div class="text-danger font-weight-bold">
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </div>
    </div>

    <div class="mb-5">
      <h3 class="">Create a Post</h3>
      <form method="POST">
        <div class="mb-3">
          <input type="text" required class="" name="title" value="{{title}}" placeholder="Title here">
        </div>
        <div class="mb-3">
          <input type="text" required placeholder="Content here" name="content" value="{{content}}" class="">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div class="">
    <h3>Added posts:</h3>
    {% for post in posts %}
        <div class="mb-5">
            <form method="POST" action="/posts/update/{{ post.id }}" class="mb-3">
                <div class="mb-3">
                  <input type="text" required class="" name="title" value="{{post.title}}" placeholder="Title here">
                </div>
                <div class="mb-3">
                  <input type="text" required placeholder="Content here" name="content" value="{{post.content}}" class="">
                </div>
                <button type="submit" class="btn btn-primary">update</button>
            </form>
            <a href="/posts/delete/{{ post.id }}">
            <button type="button" class='btn btn-primary'>delete</button>
            </a>
        </div>
    {% endfor %}    
    </div>
</div>

</body>
</html>
